<h1>Editing kindergarten</h1>

<%= render "form", kindergarten: @kindergarten %>

<br>

<div>
  <%= link_to "Show this kindergarten", @kindergarten %> |
  <%= link_to "Back to kindergartens", kindergartens_path %>
</div>
