<h1>Pets</h1>
<%= link_to "New pet", new_pet_path %>
<hr>
<%= paginate @pets %>

<div id="pets">
  <% @pets.each do |pet| %>
    <%= render pet %>
    <p>
      <%= link_to "Show this pet", pet %>
    </p>
    <hr class="hr-thick">
  <% end %>
    <hr>
</div>