<div id="<%= dom_id proprietary %>">
  <p>
    <strong>Name:</strong>
    <%= proprietary.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= proprietary.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= proprietary.password %>
  </p>

</div>
