<h1>Editing proprietary</h1>

<%= render "form", proprietary: @proprietary %>

<br>

<div>
  <%= link_to "Show this proprietary", @proprietary %> |
  <%= link_to "Back to proprietaries", proprietaries_path %>
</div>
