<div id="<%= dom_id city %>">
  <p>
    <strong>Name:</strong>
    <%= city.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= city.location %>
  </p>

  <p>
    <strong>City:</strong>
    <%= city.city %>
  </p>

</div>
